<ion-header>
  <ion-toolbar color="success">
   
    <ion-buttons slot="end">
     
      <ion-button class="notification" routerLink="/cart">
        <ion-icon name="cart-outline"></ion-icon>
        <!-- <ion-badge color="danger">3</ion-badge> -->
        <span>&nbsp;</span>
      </ion-button>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-searchbar
    placeholder="Cari Produk"
    type="text"
    [(ngModel)]="searchTerm"
    (ionChange)="searchByName(searchTerm)"
  ></ion-searchbar>

  <div *ngIf="searchTerm === '' ">
    <ion-row *ngFor="let product of whistlist;let i=index;"  (click)="detail(product?.id)">
      <ion-col size="3">
        <img [src]="product.gambar" alt="{{ product.name }}" />
      </ion-col>
      <ion-col size="5">
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>Harga: {{ product.price }}</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="searchTerm !== '' && hasil.length > 0 ">
    <ion-row *ngFor="let product of hasil;let i=index;" (click)="detail(product?.id)">
      <ion-col size="3">
        <img [src]="product.gambar" alt="{{ product.name }}" />
      </ion-col>
      <ion-col size="5">
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>Harga: {{ product.price }}</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="hasil.length === 0 && searchTerm !== ''">
    Tidak ada hasil pencarian.
  </div>

</ion-content>
